.search-form {
    height: 60px;
    width: 100vw;
    background-color: #3480eb;
    display: flex;
    padding: 10px;
    justify-content: center;
}

input {
    border-radius: 8px;
    border: none;
    width: 300px;
    height: 40px;
}

.gallery {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.photo-card {
    width: 300px;
    height: 250px;
    margin: 20px;
    box-shadow: 1px 1px 10px grey;
    border-radius: 10px;
    overflow: hidden;
}

.photo-card__img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 180px;
}

.info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 5px;
    margin-bottom: 5px;
}

.info-item {
    justify-content: center;
    font-size: 15px;
}

.info-item__descriptions {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
}

.info-item__count {
    font-size: 12px;
    font-weight: 400;
    margin-top: 4px;
}

button {
    position: relative;
    margin-left: 20px;
    border-style:ridge;
    border-radius: 8px;
    background-color: #fff;
    color: black;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

button:after {
    content: "";
    background: #f1f1f1;
    border-radius: 8px;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

button:active:after {
    border-radius: 8px;
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.load-more {
    display: flex;
    left: 80vw;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #3480eb;
    color: #fff;
    border-style: dotted;
}

.is-hidden {
    display: none;
}